div.block-container.css-18e3th9.egzxvld2{
    padding: 0rem;
}

div.css-14xtw13.e8zbici0{
    display: none;
}

header.css-18ni7ap.e8zbici2{

    height: 0rem;
    z-index: 0;
}

span.css-10trblm.e16nr0p30{
    text-align: center;
}