.control-bar{
    margin-top: 30px;
    
}
.control-bar img{
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.audio{
    margin: auto;
    width: 50%;
}



.container1{
    /* width: 80vh; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%;  */
    transform: translate(-50%,-50%) rotate(-90deg);
    display: flex;
    align-items: center;
    width: 70px;
    /* height: 200px; */
    
    /* justify-content: space-around; */
    /* padding: 0 15px; */
    /* position: relative; */
    /* position: relative; */
     
}



.all-sliders{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* text-align:center; */
    align-items: center;
    height: 120px;
    justify-content : center;
    margin-left:auto;
    width: 100%;

  
} 

wave{
    overflow: hidden;
}

body{
    background-color: white;
}
.upload{
    width: 100px;
    margin-left: 550px;
    display: flex;
}