<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="my-4 d-flex gap-4" style="width: 30%; margin-left: 40%">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option1"
        autocomplete="off"
        checked
      />
      <label class="btn btn-secondary" for="option1" checked>Music</label>

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option2"
        autocomplete="off"
      />
      <label class="btn btn-secondary" for="option2">Voclas</label>

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option3"
        autocomplete="off"
      />
      <label class="btn btn-secondary" for="option3">Ecg</label>
    </div>
    {% block body %}{% endblock %}

    <div
      id="flask1"
      data="{{dict_values | tojson}}"
      style="display: none"
      path="{{ path }}"
      path-mode="{{path1}}"
    ></div>
    <script src="static/js/canvas.js"></script>
    <script src="static/js/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
