{%extends 'base.html'%}
{% block body %}

  <div class="audio">
    <div id="waveform" class="mb-4" style="width: 700px"></div>
    <div id="waveform1" style="width: 700px"></div>
    <div class="control-bar mb-4">
      <img src="static/images/play.png" id="play" />
      <img src="static/images/stop.png" id="stop" />
      <img src="static/images/volume.png" id="volume" />
    </div>
    <div class="col-xs-10">
      <input
        id="slider"
        type="range"
        min="1"
        max="1600"
        value="1"
        style="width: 95%"
      />
    </div>
  </div>


{% endblock %}
