<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <ul class="nav justify-content-center mb-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="music">Vocals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="freq">Ecg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="freq">Random Frequncies</a>
      </li>
    </ul>
    <div class="graphs d-flex px-5 g-2">
      <div
        id="chartContainer"
        style="height: 360px; width: 50%; margin: auto"
      ></div>
      <div
        id="chartContainer2"
        style="height: 360px; width: 50%; margin: auto"
      ></div>
    </div>
    <br />
    <div
      style="margin: auto; width: 50%"
      class="d-flex justify-content-between px-3 mb-3"
    >
      <button id="submitStartButton" type="submit" value="Start">
        Start Live Chart
      </button>
      <button id="submitStopButton" type="submit" value="Stop">
        Stop Live Chart
      </button>
      <button id="submitBackButton" type="submit" value="Back">
        back Live Chart
      </button>
    </div>
    <div
      style="margin: auto; width: 50%"
      class="d-flex justify-content-between"
    >
      <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}} {{form.file()}} {{form.submit()}}
      </form>
    </div>
    <!--   <img
      id="picture"
      style="height: 400px; width: 800px"
      src="data:image/jpeg;base64,{{ img_data }}"
      class=""
      />-->

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script>
      //dataPoints.
           var dps = [];
           var dps1=[];
           const a=5
           x={{t | tojson}};
           y={{y | tojson}};
           y2={{y2|tojson}};
           for (let i=0; i <1000; i++) {
            dps.push({
               x:x[i],
               y:y[i]
             });
             dps1.push({
              x:x[i],
              y:y2[i]
            });
           }
           var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            zoomEnabled: true,
             title: {
               text: "Live Signal",
             },
             axisX: {
               title: "Axis X Title",
             },
             axisY: {
               title: "Units",
             },
             data: [
               {
                 type: "line",
                 dataPoints: dps  ,
               },
             ],
           });
           var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            zoomEnabled: true,
             title: {
               text: "Live Signal",
             },
             axisX: {
               title: "Axis X Title",
             },
             axisY: {
               title: "Units",
             },
             data: [
               {
                type: "line",
                dataPoints:dps1,
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              }
             ],
             borderColor: [
             'rgba(255, 99, 132, 1)',
             'rgba(54, 162, 235, 1)',
             'rgba(255, 206, 86, 1)',
             'rgba(75, 192, 192, 1)',
             'rgba(153, 102, 255, 1)',
             'rgba(255, 159, 64, 1)'
         ],
         borderWidth: 1
           });

           chart.render();
           chart2.render();
           // Updating the Chart
           var xVal = dps1.length + 1;
           var yVal = 20;
           var updateInterval =10;
           let length = 1000;

           var updateChart = function () {
             dps.push({ x:x[xVal], y: y[2*xVal] });
             dps1.push({ x:x[xVal],y:y2[xVal]});
             xVal++;
             if (dps1.length > length)
             {
              dps.shift()
              dps1.shift()
            };
             chart.render();
             chart2.render();
           };

           var updateChart_backward = function () {
            if (xVal>length)
                {
                    dps.unshift({ x:x[(xVal-length-1)], y: y[2*(xVal-length-1)] });
                    dps1.unshift({ x:x[(xVal-length-1)],y:y2[(xVal-length-1)]});
                    dps.pop();
                    dps1.pop();
                    xVal--;
                    console.log(dps1.length)
                }
             chart.render();
             chart2.render();
           }

           var timeoutId,
             startButton = document.getElementById("submitStartButton"),
             stopButton = document.getElementById("submitStopButton");
            backButton=document.getElementById("submitBackButton")
            togle=document.getElementById("togle_spec")
            img=document.getElementById("picture")
            function startLiveChart() {
                stopLiveChart()
                timeoutId = setInterval(function () {
               updateChart();
             }, updateInterval);

             startButton.removeEventListener("click", startLiveChart);
             stopButton.addEventListener("click", stopLiveChart);
             backButton.addEventListener("click",back);
           }
           function back(){
            stopLiveChart()
              timeoutId = setInterval(function () {
               updateChart_backward();
             }, updateInterval);
             backButton.removeEventListener("click", back);
             startButton.addEventListener("click", startLiveChart);
             stopButton.addEventListener("click", stopLiveChart);
           }

           function stopLiveChart() {
             clearTimeout(timeoutId);
             stopButton.removeEventListener("click", stopLiveChart);
             startButton.addEventListener("click", startLiveChart);
             backButton.addEventListener("click",back);
           }

           startButton.addEventListener("click", startLiveChart);
           playBtn=document.getElementById("play")
           stopBtn=document.getElementById("stop")
           volumeBtn=document.getElementById("volume")
    </script>
  </body>
</html>
