
    {%extends 'base.html'%}
    {% block body %}

    <div class="audio">
      <div class="d-flex gap-4">
      <div id="waveform" class="mb-4" style="width: 1000px"></div>
      <div id="waveform1" style="width: 1000px"></div></div>
      <div class="control-bar mb-2">
        <img src="static/images/play.png" id="play" />
        <img src="static/images/stop.png" id="stop" />
        <img src="static/images/volume.png" id="volume" />
        <button id="switch" class="btn">Original Audio</button>
      </div>
      <div class="col-xs-10">
        <input
          id="slider"
          type="range"
          min="1"
          max="1600"
          value="1"
          style="width: 95%"
        />
      </div>
    </div>
    <form action="{{ url_for("music")}}" method="POST" class="form" enctype = "multipart/form-data">
    </form>
    
    {% endblock %}

    



