<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <ul class="nav justify-content-center mb-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="music">Vocals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="freq">Ecg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="freq">Random Frequncies</a>
      </li>
    </ul>

    <div class="audio">
      <div id="waveform" class="mb-4" style="width: 700px"></div>
      <div id="waveform1" style="width: 700px"></div>
      <div class="control-bar mb-4">
        <img src="static/images/play.png" id="play" />
        <img src="static/images/stop.png" id="stop" />
        <img src="static/images/volume.png" id="volume" />
      </div>
      <div class="col-xs-10">
        <input
          id="slider"
          type="range"
          min="1"
          max="1600"
          value="1"
          style="width: 95%"
        />
      </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script>
      playBtn = document.getElementById("play");
      stopBtn = document.getElementById("stop");
      volumeBtn = document.getElementById("volume");

      var wavesurfer = WaveSurfer.create({
        container: "#waveform",
        waveColor: "#e3bbee",
        progressColor: "#fe38ab",
        barHeight: 4,
        reponsive: true,
      });
      var wavesurfer1 = WaveSurfer.create({
        container: "#waveform1",
        waveColor: "#e3bbee",
        progressColor: "#fe38ab",
        barHeight: 4,
        reponsive: true,
      });
      wavesurfer1.load("static/images/Same.mp3");
      wavesurfer.load("static/images/Same.mp3");

      playBtn.onclick = function () {
        wavesurfer.playPause();
        wavesurfer1.playPause();
        if (playBtn.src.match("play")) playBtn.src = "static/images/pause.png";
        else playBtn.src = "static/images/play.png";
      };
      stopBtn.onclick = function () {
        wavesurfer.stop();
        wavesurfer1.stop();
        playBtn.src = "static/images/play.png";
      };

      volumeBtn.onclick = function () {
        wavesurfer.toggleMute();
        wavesurfer1.toggleMute();
        if (volumeBtn.src.match("volume"))
          volumeBtn.src = "static/images/mute.png";
        else volumeBtn.src = "static/images/volume.png";
      };
      var slider = document.querySelector("#slider");

      slider.oninput = function () {
        var zoomLevel = Number(slider.value);
        wavesurfer.zoom(zoomLevel);
        wavesurfer1.zoom(zoomLevel);
      };
    </script>
  </body>
</html>
